<div class="jumbotron">
  <h1>Introducing Grupr</h1>
  <p class="lead">
    <!-- <img src="images/yeoman.png" alt="Big Fish"><br> -->
    Making grouping easier.
  </p>
</div>

<div class="row marketing">
  <h4>What is Grupr</h4>
  <p>
    Grupr is a mobile application designed to make finding and creating study groups easier.

  </p>

  <h4>How does Grupr benift me?</h4>
  <p>
    Grupr benifits you by connecting you to other students in your classes. So you, the guy who sits behind you, and the girl in the front row can study together.
  </p>

  <h4>Where can I get Grupr</h4>
  <p>Grupr will be available on the app store in the near future.</p>
</div>
